<mat-toolbar>
    <div class="logotipo">
        <img src="" alt="">
        <span class="logo1">CN</span><span class="logo2">Net</span>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="div-links">
        <ul class="div-links-ul">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Servicios</a></li>
        </ul>
    </div>
  </mat-toolbar>
