/******************************* css body ****************/
@media screen and (min-width:700px) {
    .container{
        margin: 0;
        position: absolute;
        top:60px;
        width: 100%;
        height: 700px;
    }
    .img-banner{
        position: relative;
        top: -10px;
        left: 0;
        width: 100%;
        height: 800px;
        z-index: -1;
        opacity: 90%;
        background-color: black;
    }
    .h1-banner{
        position: absolute;
        width: 141px;
        height: 38px;
        top: 225px;
        left: 40%;    
        text-align: center;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 38px;
        /* identical to box height */
        color: #00293C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .info-banner{
        padding: 10px;
        position: relative;
        left: 0;
        top: -280px;
        margin-left:10% ;
        margin-right: 10%;
        width: 80%;
        height: 800px;
        background-color: #F62A00;
        box-shadow: 10px 8px 17px black;
    }
    .info-banner h3{

        text-align: center;
        width: auto;
        height: 50px;
        left: 15px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 35px;
        color: #F1F3CE;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .info-detalles{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 500px;
    }
        .info-detalles .info-detalles-explicacion{
            position: relative;
            width: 50%;
            height: 95%;
            padding-top: 15px;
            padding-left:10px;
            padding-right: 10px;
        }
        .info-detalles .div1{
            display: flex;
            flex-direction: column;
            justify-items: center;
            justify-content: space-around;
            border-right: 2.5px solid #F1F3CE;

        }
        .info-detalles .div1 h4{
            text-align: center;
            width: auto;
            height: 50px;
            left: 15px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            color: #F1F3CE;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        }
        .info-detalles .div1 p{
            position: relative;
            top: -80px;
            height: auto;
            width: 80%;
            margin-top: 0.2rem;
            height: 50px;
            left: 10%;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #F1F3CE;
            line-height: 25px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .info-detalles .div1 ul {
            position: relative;
            width: 60%;
            margin-top: 0.5rem;
            height: 50px;
            left: 10%;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            color: #F1F3CE;
            line-height: 25px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .text-bottom{
            width: auto;
            margin: 0.5rem;
            height: 50px;
            left: 15px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            color: #F1F3CE;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            line-height: 25px;

        }
    .container-h2{
        position: relative;
        top: -135px;
        width: auto;
        height: 38px;  
        text-align: center;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 50px;
        line-height: 38px;
        /* identical to box height */
        color: #00293C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container-h3{
        position: relative;
        top: -120px;
        width: auto;
        height: 38px;  
        text-align: center;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 35px;
        line-height: 38px;
        color: #00293C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
/******************************* css del contacto ***********/
@media screen and (min-width:700px){

    .contact-container{
        position: relative;
        left: 0;
        top: 1800px;
        margin: 0;
        width: 100%;
    }
    .contact-h2{
        z-index: 1;
        position: relative;
        top: 20px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 19px;
        text-align: center;
        color: #00293C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    .contact-h4{
        z-index: 1;
        position: relative;
        margin: 0;
        text-align: center;
        top: 90px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 19px;
        color: #00293C;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    .apreton-manos{
        background-color: black;
        position: absolute;
        margin: 5%;
        top: 120px;
        width: 90%;
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 80%;
        box-shadow: 7px 6px 10px rgba(0, 0, 0, 0.25);
    }
    .div-contact{
        position: relative;
        top: 185px;
        left: 45%;
        width: 50%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .contac-info{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contact-span{
        position: relative;
        margin: 0;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 19px;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .logo-tel{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        margin-right: 1rem;
    }
    .logo-tel img {
        position:relative;
        left: 5px;
        top: 3px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo-wp{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #1E656D;
        margin-right: 1rem;
        overflow: hidden;
    }
    .logo-wp img {
        position:relative;
        left: -25px;
        top: -25px;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo-gmail{
        position: relative;
        width: 50px;
        height: 45px;
        border-radius: 10px;
        margin-right: 1rem;
    }
    .logo-gmail img{
        position:relative;
        left: 3px;
        top: 0px;
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .contact-p{
        position: relative;
        left: -50px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 19px;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .logo-facebook{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 35px;
        margin-right: 1rem;
        overflow: hidden;
    }
    .logo-facebook img {
        position:relative;
        left: -1px;
        top: 0px;
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo-instagram{
        position: relative;
        width: 48px;
        height: 47px;
        border-radius: 10px;
        margin-right: 1rem;
        overflow: hidden;
    }
    .logo-instagram img {
        position:relative;
        left: -13px;
        top: -13px;
        width: 74px;
        height: 74px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


}



/****************************** css del footer ***********/

.mat-toolbar{
    background-color: #F62A00;
    display: flex;
    align-items:flex-start;
    justify-items:center;
    justify-content: space-between;
    position: relative;
    top: 2150px;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mat-toolbar .logotipo img{
    display: none;
}
.footer-span{
    position: relative;
    top: 50px;
    width: 98px;
    height: 25px;
    left: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #F1F3CE;
}
.logo1{
    color: #00293C;
    border: 1.5px solid #00293C ;
}
.footer-h3{
    position: relative;
    left: 26%;
    top: 20px;
    font-size: 40px;
    width: 98px;
    height: 25px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-div-contact{
    position:relative;
    left: -15%;
    top: 20%;
    margin: 0;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 55px;
        margin: 0.5rem;
    }
    .img-tel{
        width: 50px;
        height:50px;
        border-radius: 40px;
        overflow: hidden;
    }
    .img-tel img {
        position:relative;
        left: 5px;
        top: 3px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-gmail{
        width: 50px;
        height:45px;
        border-radius: 10px;
        overflow: hidden;
    }
    .img-gmail img {
        position:relative;
        left: 0px;
        top: 0px;
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h5{
        width: auto;
        margin: 0.5rem;
        height: 25px;
        left: 15px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #F1F3CE;
    }
    .redes{
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
    }
    .redes div{
        width:40px;
        height: 40px;
        border-radius: 30px;
        margin: 0.2rem;
        overflow: hidden;
    }
    .redes div a{
        text-decoration: none;
    }
    .redes .facebook a img {
        position:relative;
        left: -2px;
        top: -3px;
        width: 43px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .redes .instagram{
        width:40px;
        height: 40px;
        border-radius: 10px;
    } 
    .redes .instagram a img {
        position:relative;
        left: -10px;
        top: -15px;
        width: 60px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
.copyright{
    padding: 0;
    position: absolute;
    height: 30px;
    width: 400px;
    left: 5%;
    top: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
.copyright h5{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 20px;
    width: 100%;
    height: 25px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
