<div class="container">
    <img class="img-banner" src="../../../assets/grupo-empresarios-que-trabajan-oficina.jpg" alt="imagen de banner" />
    <h1 class="h1-banner">Nosotros</h1>
    <div class="info-banner">
        <h3>
        Somos una empresas que se encarga de convertir tu casa en una casa
        inteligente o SmartHome.
        </h3>
            <div class="info-detalles">
                    <div class="info-detalles-explicacion div1">
                    <h4>¿Como lo hacemos?</h4>
                    <p>
                    Utilizamos controladores como switch inteligentes, y haciendo uso de
                    wifi logramos conseguir que por medio de tu telefono movil, logres
                    controlar los dispositivos de tu casa o sitio al que quieras manejar.
                    </p>
                    <ul>
                    <li>Iluminacion</li>
                    <li>bombas de agua de piletas</li>
                    <li>Portones</li>
                    </ul>
                </div>
                <div class="info-detalles-explicacion div2">
                    <img src="" alt="imagen de producto" />
                </div>
            </div>
            <p class="text-bottom">
                Con esto logramos, que no importa el sitio en el que te encuetres, vas a
                por controlar tu casa desde ese mismo lugar. Lo unico que vas a
                necesitar para ello es un celular y coneccion a internet, de esta manera
                hacemos tu vida mas facil.
            </p>
        
    </div>
    <h2 class="container-h2">¿Estas Interesado?</h2>
    <h3 class="container-h3">Contactanos para conocer mas informacion, sobre los servicios que prestamos.</h3>
</div>
<!-------------------------- section contact ---------------------------->
<div id="contacto" class="contact-container">
    <h2 class="contact-h2">Contacto</h2>
    <h4 class="contact-h4">Para más informacion sobre los servicios contactanos!!!...</h4>
    <img class="apreton-manos" src="../../../assets/concepto-hombres-negocios-apreton-manos.jpg" alt="">
    <div class="div-contact">
        <div class="contac-info">
            <div class="logo-tel"><img src="../../../assets/logo-telefono.png" alt=""></div>
            <span class="contact-span">3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-wp"><img src="https://img.freepik.com/vector-gratis/diseno-icono-whatsapp_23-2147900929.jpg?w=740&t=st=1678894257~exp=1678894857~hmac=b1ccc9717f6e6a4e3556837bd426c6a5141938b49db4bc92dc5ec2f72f36e859" alt=""></div>
            <span class="contact-span">3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-gmail"><img src="https://cdn-icons-png.flaticon.com/512/732/732200.png?w=740&t=st=1678893866~exp=1678894466~hmac=e8a1af56b4799718f1bbf8a22e4d74254453448b05a92ed214a0daf44ac90647" alt=""></div>
            <span class="contact-span">cenenetwork@gmail.com</span>
        </div>
        <p class="contact-p">Tambien podes contactarnos por redes sociales</p>
        <div class="contac-info">
            <div class="logo-facebook"><img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png" alt="logo de facebook"></div>
            <span class="contact-span">facebook</span>
        </div>
        <div class="contac-info">
            <div class="logo-instagram"><img src="https://img.freepik.com/vector-gratis/instagram-nuevo-icono_1057-2227.jpg?w=740&t=st=1678893239~exp=1678893839~hmac=3a201316ab93c3f32bcf6f4715e72bb8ab3b7c0f957a8fb4e6f4ce25d671c488" alt="logo de instagram"></div>
            <span class="contact-span">instagram</span>
        </div>
    </div>
</div>

<!-------------------------- section footer ---------------------------->
<mat-toolbar>
  <div class="logotipo">
    <img src="" alt="" />
    <span class="logo1 footer-span">CN</span><span class="logo2 footer-span">Net</span>
  </div>
  <div class="copyright">
    <h5>@copyright</h5>
    <h5>Todos los derechos reservados</h5>
  </div>
  <h3 class="footer-h3">Contacto</h3>
  <div class="footer-div-contact">
    <div class="logo">
      <div class="img-tel">
        <img src="../../../assets/logo-telefono.png" alt="imagen de telefono" />
      </div>
      <h5>3516463021</h5>
    </div>
    <div class="logo">
      <div class="img-gmail">
        <img
          src="https://cdn-icons-png.flaticon.com/512/732/732200.png?w=740&t=st=1678893866~exp=1678894466~hmac=e8a1af56b4799718f1bbf8a22e4d74254453448b05a92ed214a0daf44ac90647"
          alt="logo de gmail"
        />
      </div>
      <h5>CeneNetwork@gmail.com</h5>
    </div>
    <div class="redes">
      <div class="facebook">
        <a href="#"
          ><img
            src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png"
            alt="logo de facebook"
        /></a>
      </div>
      <div class="instagram">
        <a href="#"
          ><img
            src="https://img.freepik.com/vector-gratis/instagram-nuevo-icono_1057-2227.jpg?w=740&t=st=1678893239~exp=1678893839~hmac=3a201316ab93c3f32bcf6f4715e72bb8ab3b7c0f957a8fb4e6f4ce25d671c488"
            alt="logo de instagram"
        /></a>
      </div>
    </div>
  </div>
</mat-toolbar>
