<div class="container">
  <img src="../../../assets/banner-smartHome2-noche.png" alt="" />
  <div id="id-wellcome" class="wellcome">
    <h1 class="saludo1">Bienvenido</h1>
    <h4 class="saludo2">
      Somos <span class="CN"> CN</span><span class="Net"> Net </span> y brindamos el servicio de casa inteligente.
      utilizando el sistema de <span>microcontroladores </span>, hacemos que tu casa se
      convierta en <span>SMART HOME</span> <br> 
      La vida nunca fue más facil.
    </h4>
    <div class="div-btn">
      <a href="#Contacto"><button>Contacto</button></a>
      <a href="#"><button>Nosotros</button></a>
    </div>
  </div>
</div>
