<div class="section">
  <img
    class="banner-img"
    src="../../../assets/primer-plano-hombre-negocios-tableta-digital.jpg"
    alt="imagen-banner"
  />
  <h2 class="tittle">Servicio</h2>
  <div class="section-info">
    <div class="info1 div-line">
      <h4>Instalacion</h4>
      <p>
        instalamos todos los dipositivos necesarios, en los equipos que quieras
        volver inteligente.
      </p>
    </div>
    <div class="info1">
      <h4>Configuracion</h4>
      <p>
        Una vez instalados los dispositivos. procedemos a configurarlos, para
        que queden listo para ser usados.
      </p>
    </div>
  </div>
  <h3 class="tittle-info">¿Que podemos controlar con este sistemas?</h3>
  <div class="products">
    <div class="product type-1">
      <h4>Portones</h4>
      <div><img class="servicio-portones" src="../../../assets/servicio-portones.png" alt="imagen de porton" /></div>
      <p>
        Con este sistema podes controlar el cierre o apertura del porton de tu
        casa o empresa
      </p>
    </div>
    <div class="product type-2">
      <h4>Iluminancion</h4>
      <div><img class="servicio-luz" src="../../../assets/servicio-luz.png" alt="imagen de iluminacion" /></div>
      <p>
        Con este sistema podes controlar el apagado y encedido de las luces de
        tu casa o sitio.
      </p>
    </div>
    <div class="product type-3">
      <h4>Bombas de Agua</h4>
      <div><img class="servicio-bomba-de-agua" src="../../../assets/servicio-bomba-de-agua.png" alt="imagen de bomba de agua" /></div>
      <p>
        Con este sistema podes controlar el arranque de la bomba de agua de tu
        piscina.
      </p>
    </div>
  </div>
  <h3 class="tittle-info h3-other-product">
    ¡Ademas ofrecemos otros servicios como!
  </h3>
  <div class="otherProduct">
    <div class="product type-4">
      <h4>Camaras de Vigilancia</h4>
      <div><img class="servicio-camaras" src="../../../assets/servicio-camaras.png" alt="imagen de camaras" /></div>
      <p>instalamos el sistema de vigilancia, para que te sientas mas seguro</p>
    </div>
    <div class="product type-5">
      <h4>Redes</h4>
      <div><img class="servicio-redes" src="../../../assets/servicio-redes.png" alt="imagen de redes" /></div>
      <p>hacemos instalacion de redes</p>
    </div>
  </div>
  <h3 class="h3-tittle-info">¿Como lo controlas?</h3>
  <div class="section-control">
    <div class="control-info">
      <p>
        Todo los vas a poder controlar desde tu celular, sin necesidad de tener
        que andar con controles en la mano.
      </p>
      <p>
        Ademas para VOS que te gusta tener el control de todo. no va importar
        donde te encuentres solo con tener acceso a internet desde tu celular y
        wifi en tu domicilio o sitio, vas a poder controlarlo todo.
      </p>
      <a href="#contacto"><button>Contactar</button></a>
    </div>
    <div class="control-info">
      <img src="../../../assets/hermosa-mujer-negocios-asiatica-usando-telefono-movil-feliz-celebracion-sobre-fondo-blanco-estudio.jpg" alt="mujer con celular" />
    </div>
  </div>
</div>
<!--------------------------------------- seccion de contactos -------------------------------------------->
<div id="contacto" class="contact-container">
  <h2 class="contact-h2">Contacto</h2>
  <h4 class="contact-h4">Para más informacion sobre los servicios contactanos!!!...</h4>
  <img class="apreton-manos" src="../../../assets/concepto-hombres-negocios-apreton-manos.jpg" alt="">
  <div class="div-contact">
      <div class="contac-info">
          <div class="logo-tel"><img src="../../../assets/logo-telefono.png" alt=""></div>
          <span class="contact-span">3516151281</span>
      </div>
      <div class="contac-info">
          <div class="logo-wp"><img src="https://img.freepik.com/vector-gratis/diseno-icono-whatsapp_23-2147900929.jpg?w=740&t=st=1678894257~exp=1678894857~hmac=b1ccc9717f6e6a4e3556837bd426c6a5141938b49db4bc92dc5ec2f72f36e859" alt=""></div>
          <span class="contact-span">3516151281</span>
      </div>
      <div class="contac-info">
          <div class="logo-gmail"><img src="https://cdn-icons-png.flaticon.com/512/732/732200.png?w=740&t=st=1678893866~exp=1678894466~hmac=e8a1af56b4799718f1bbf8a22e4d74254453448b05a92ed214a0daf44ac90647" alt=""></div>
          <span class="contact-span">cenenetwork@gmail.com</span>
      </div>
      <p class="contact-p">Tambien podes contactarnos por redes sociales</p>
      <div class="contac-info">
          <div class="logo-facebook"><img src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png" alt="logo de facebook"></div>
          <span class="contact-span">facebook</span>
      </div>
      <div class="contac-info">
          <div class="logo-instagram"><img src="https://img.freepik.com/vector-gratis/instagram-nuevo-icono_1057-2227.jpg?w=740&t=st=1678893239~exp=1678893839~hmac=3a201316ab93c3f32bcf6f4715e72bb8ab3b7c0f957a8fb4e6f4ce25d671c488" alt="logo de instagram"></div>
          <span class="contact-span">instagram</span>
      </div>
  </div>
</div>

<!-------------------------------- footer ------------------------------->
<mat-toolbar>
  <div class="logotipo">
    <img src="" alt="" />
    <span class="logo1">CN</span><span class="logo2">Net</span>
  </div>
  <div class="copyright">
    <h5 class="copyright-h5">@copyright</h5>
    <h5 class="copyright-h5">Todos los derechos reservados</h5>
  </div>
  <h3 class="contact-h3">Contacto</h3>
  <div class="contact">
    <div class="logo">
      <div class="img-tel">
        <img src="../../../assets/logo-telefono.png" alt="imagen de telefono" />
      </div>
      <h5 class="logo-h5">3516463021</h5>
    </div>
    <div class="logo">
      <div class="img-gmail">
        <img
          src="https://cdn-icons-png.flaticon.com/512/732/732200.png?w=740&t=st=1678893866~exp=1678894466~hmac=e8a1af56b4799718f1bbf8a22e4d74254453448b05a92ed214a0daf44ac90647"
          alt="logo de gmail"
        />
      </div>
      <h5 class="logo-h5">CeneNetwork@gmail.com</h5>
    </div>
    <div class="redes">
      <div class="facebook">
        <a href="#"
          ><img
            src="https://logodownload.org/wp-content/uploads/2014/09/facebook-logo-3-1.png"
            alt="logo de facebook"
        /></a>
      </div>
      <div class="instagram">
        <a href="#"
          ><img
            src="https://img.freepik.com/vector-gratis/instagram-nuevo-icono_1057-2227.jpg?w=740&t=st=1678893239~exp=1678893839~hmac=3a201316ab93c3f32bcf6f4715e72bb8ab3b7c0f957a8fb4e6f4ce25d671c488"
            alt="logo de instagram"
        /></a>
      </div>
    </div>
  </div>
</mat-toolbar>
