/*******************css del body ***************/
.section{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: auto;
}
.section .banner-img{
    position: relative;
    left: 0;
    top: 0px;
    width: 100%;
    height: 700px;
    z-index: -1;
    opacity: 90%;
}
.section .tittle{
    position: absolute;
    left: 40%;
    top: 225px;
    position: absolute;
    width: 141px;
    height: 38px;   
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 38px;
    /* identical to box height */
    color: #00293C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section .section-info{
    padding: 20px;
    position: relative;
    left: 0;
    top: -280px;
    margin-left:10% ;
    margin-right: 10%;
    width: 80%;
    height: 350px;
    background-color: #F62A00;
    box-shadow: 10px 8px 17px black;
    display: flex;
    flex-direction: row;
}
.section .section-info .info1{
    width: 55%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section .section-info .div-line{
    border-right: 2px solid #F1F3CE;
}
.section .section-info .info1 h4{
    padding-top: 20px;
    text-align: center;
    width: auto;
    height: 50px;
    left: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section .section-info .info1 p{
    text-align: center;
    padding-bottom: 20px;
    width: auto;
    height: 50px;
    left: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section  .tittle-info{
    position: relative;
    top: -100px;
    height: 38px;   
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 38px;
    /* identical to box height */
    color: #00293C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section .products{
    position: relative;
    padding: 10px;
    top: 25px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F62A00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    flex: 1 1 auto;
    overflow: hidden;
}
.section .products .product{
    width: 300px;
    height: 400px;
    margin:1em ;
    border:1px solid #F1F3CE;
}
.section .h3-other-product{
    position: relative;
    top: 100px;
    z-index: 1;
}
.section .otherProduct{
    position: relative;
    padding: 10px;
    top: 200px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F62A00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    flex: 1 1 auto;
}
.section .otherProduct .product{
    width: 300px;
    height: 400px;
    margin:1em ;
    border:1px solid #F1F3CE;
}
.section .h3-tittle-info{
    position: relative;
    top: 280px;
    height: 38px;   
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 38px;
    /* identical to box height */
    color: #00293C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section .section-control{
    background-color: #F62A00;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 400px;
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.25);
}
.section .section-control .control-info{
    width: 50%;
    height: 90%;
    margin: 1em;
    overflow: hidden;

}
.section .section-control .control-info p{
    /* position: relative;
    top: 280px; */
    margin: 2em;   
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.section .section-control .control-info a{
    position: relative;
    top: 50px;
    left: 40%;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section .section-control .control-info a button{
    cursor: pointer;
    width: 110px;
    height: 30px;
    border: #F62A00;
    border-radius: 50px;
    color:#00293C;
    background-color: #F1F3CE ;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.section .section-control .control-info a button:hover{
    cursor: pointer;
    width: 110px;
    height: 33px;
    border:1px solid #00293C;
    border-radius: 50px;
    color:#F1F3CE;
    background-color: transparent ;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    transition-duration: 0.5s;
}
.section .section-control .control-info img{
    position: relative;
    top: -50px;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}


/******************** css del footer **************/
/****************************** css del elemento footer ***********************/
.mat-toolbar{
    background-color: #F62A00;
    display: flex;
    align-items:flex-start;
    justify-items:center;
    justify-content: space-between;
    position: relative;
    top: 3700px;
    bottom: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mat-toolbar .logotipo img{
    display: none;
}
span{
    position: relative;
    top: 50px;
    width: 98px;
    height: 25px;
    left: 15px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #F1F3CE;
}
.logo1{
    color: #00293C;
    border: 1.5px solid #00293C ;
}
.contact-h3{
    position: relative;
    left: 26%;
    top: 20px;
    font-size: 40px;
    width: 98px;
    height: 25px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contact{
    position:relative;
    left: -15%;
    top: 20%;
    margin: 0;
    padding: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: 55px;
        margin: 0.5rem;
    }
    .img-tel{
        width: 50px;
        height:50px;
        border-radius: 40px;
        overflow: hidden;
    }
    .img-tel img {
        position:relative;
        left: 5px;
        top: 3px;
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-gmail{
        width: 50px;
        height:45px;
        border-radius: 10px;
        overflow: hidden;
    }
    .img-gmail img {
        position:relative;
        left: 0px;
        top: 0px;
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .copyright-h5{
        width: auto;
        margin: 0.5rem;
        height: 25px;
        left: 15px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #F1F3CE;
    }
    .logo-h5{
        width: auto;
        margin: 0.5rem;
        height: 25px;
        left: 15px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #F1F3CE;
    }
    .redes{
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 150px;
    }
    .redes div{
        width:40px;
        height: 40px;
        border-radius: 30px;
        margin: 0.2rem;
        overflow: hidden;
    }
    .redes div a{
        text-decoration: none;
    }
    .redes .facebook a img {
        position:relative;
        left: -2px;
        top: -3px;
        width: 43px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .redes .instagram{
        width:40px;
        height: 40px;
        border-radius: 10px;
    } 
    .redes .instagram a img {
        position:relative;
        left: -10px;
        top: -15px;
        width: 60px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 
.copyright{
    padding: 0;
    position: absolute;
    height: 30px;
    width: 400px;
    left: 5%;
    top: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}
.copyright h5{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 20px;
    width: 100%;
    height: 25px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    color: #F1F3CE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
