<div class="section">
  <img src="" alt="imagen-banner" />
  <h2>Servicio</h2>
  <div class="section-info">
    <div class="info1">
      <h4>Instalacion</h4>
      <p>
        instalamos todos los dipositivos necesarios, en los equipos que quieras
        volver inteligente.
      </p>
    </div>
    <div class="info1">
      <h4>Configuracion</h4>
      <p>
        Una vez instalados los dispositivos. procedemos a configurarlos, para
        que queden listo para ser usados.
      </p>
    </div>
  </div>
  <h3>¿Que podemos controlar con este sistemas?</h3>
  <div class="products">
    <div class="product type-1">
        <h4></h4>
        <div><img src="" alt=""></div>
        <p></p>
    </div>
    <div class="product type-2">
        <h4></h4>
        <div><img src="" alt=""></div>
        <p></p>
    </div>
    <div class="product type-3">
        <h4></h4>
        <div><img src="" alt=""></div>
        <p></p>
    </div>
    <div class="product type-4">
        <h4></h4>
        <div><img src="" alt=""></div>
        <p></p>
    </div>
    <div class="product type-5">
        <h4></h4>
        <div><img src="" alt=""></div>
        <p></p>
    </div>
  </div>
</div>
