<div class="container">
    <h2>Nosotros</h2>
    <div class="aboutUs">
      <h3>Acerca de Nosotros?</h3>
          <p>
          Somos una empresa que brinda el servicios de casa inteligentes. Por medio
          de microcontroladores, logramos que puedas manejar los dispositivos de tu
          vivienda, por medio de un dispositivo movil, Para hacerte la vida mas facil.
          Lo que implica es que vas a tener el control en tus manos.
          
          </p>
          <a href="#"><Button>Ver Más</Button></a>
      </div>
      <img src="../../../assets/retrato-pensativa-mujer-rubia-ensueno-ensueno-imagina-algo-su-mente-mira-arriba-sumida-pensamientos-tocando-barbilla-atractiva-joven-rubia-suena-fines-semana-min.jpg" alt="imagen de mujer pensativa" />
  </div>
