<div class="container">
  <div class="pregunta">
    <div class="info">
      <h3>¿Que es la Domotica?</h3>
      <p>
        Es la aplicación de la tecnología a la automatización del hogar y de
        edificios. Se utiliza para controlar y gestionar diferentes sistemas y
        dispositivos en el hogar o edificio de forma automatizada. Estos
        sistemas pueden incluir iluminación, calefacción, aire acondicionado,
        sistemas de seguridad y cámaras de vigilancia, sistemas de
        entretenimiento y otros dispositivos domésticos.
      </p>
    </div>
    <div class="info-img"><img src="../../../assets/domotica-relax.png" alt=""></div>
  </div>
</div>
