<div class="container">
    <h3>Servicios</h3>
    <h5>Que podemos controlar por medio de Sistema</h5>
    <div class="product-service">
        <div class="product Porton">
            <img src="../../../assets/servicio-portones.png" alt="">
            <h6>Porton</h6>
           <a (click)="showMore()"><button>Ver más</button></a>
        </div>
        <div class="product Iluminacion">
            <img src="../../../assets/servicio-luz.png" alt="">
            <h6>Iluminacion</h6>
            <a (click)="showMore()"><button>Ver más</button></a>
        </div>
        <div class="product Bomba">
            <img src="../../../assets/servicio-bomba-de-agua.png" alt="">
            <h6>Bombas de Agua</h6>
           <a (click)="showMore()"><button>Ver más</button></a>
        </div>
    </div>

</div>

