<div class="container">
    <h2>Contacto</h2>
    <h4>Para más informacion sobre los servicios contactanos!!!...</h4>
    <img class="apreton-manos" src="../../../assets/concepto-hombres-negocios-apreton-manos.jpg" alt="">
    <div class="contact">
        <div class="contac-info">
            <div class="logo-tel"><img src="" alt=""></div>
            <span>3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-wp"><img src="" alt=""></div>
            <span>3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-gmail"><img src="" alt=""></div>
            <span>cenenetwork@gmail.com</span>
        </div>
        <p>Tambien podes contactarnos por redes sociales</p>
        <div class="contac-info">
            <div class="logo-facebook"><img src="" alt=""></div>
            <span>facebook</span>
        </div>
        <div class="contac-info">
            <div class="logo-instagram"><img src="" alt=""></div>
            <span>instagram</span>
        </div>
    </div>
</div>
