<div class="container">
    <h2>Contacto</h2>
    <h4>Para más informacion sobre los servicios contactanos!!!...</h4>
    <img class="apreton-manos" src="../../../assets/concepto-hombres-negocios-apreton-manos.jpg" alt="">
    <div class="contact">
        <div class="contac-info">
            <div class="logo-tel"><img src="../../../assets/logo-telefono.png" alt=""></div>
            <span>3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-wp"><img src="https://img.freepik.com/vector-gratis/diseno-icono-whatsapp_23-2147900929.jpg?w=740&t=st=1678894257~exp=1678894857~hmac=b1ccc9717f6e6a4e3556837bd426c6a5141938b49db4bc92dc5ec2f72f36e859" alt=""></div>
            <span>3516463021</span>
        </div>
        <div class="contac-info">
            <div class="logo-gmail"><img src="https://cdn-icons-png.flaticon.com/512/732/732200.png?w=740&t=st=1678893866~exp=1678894466~hmac=e8a1af56b4799718f1bbf8a22e4d74254453448b05a92ed214a0daf44ac90647" alt=""></div>
            <span>cenenetwork@gmail.com</span>
        </div>
        <p>Tambien podes contactarnos por redes sociales</p>
        <div class="contac-info">
            <div class="logo-facebook"><img src="" alt=""></div>
            <span>facebook</span>
        </div>
        <div class="contac-info">
            <div class="logo-instagram"><img src="" alt=""></div>
            <span>instagram</span>
        </div>
    </div>
</div>
